/* Clear default styles */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card {
  border: 3px solid red;
}
